<% provide(:title, 'Add Employee') %>
<h1>Add Employee</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@employee, url: addemployee_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :hiredate, 'Hire Date'%>
      <%= f.date_field :hiredate, class: 'form-control' %>

      <%= f.label :mobile, 'Mobile (+20)' %>
      <%= f.text_field :mobile, class: 'form-control' %>


      <%= f.submit "add Employee", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>