<% provide(:title, 'Add Attendance') %>
<h1>Add Attendance</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@attendance, url: addattendance_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :day, 'Day'%>
      <%= f.date_field :day, class: 'form-control' %>

      <%= f.label :whours, 'work hours' %>
      <%= f.select :whours, [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16], class: 'form-control'%>

      <% options = options_from_collection_for_select(@employee, 'id', 'name') %>
      <%= f.label :employee_id, 'Employee' %>
	  <%= f.select :employee_id,  options %>

      <% options = options_from_collection_for_select(@status, 'id', 'statu') %>
      <%= f.label :status_id, 'Status' %>
	  <%= f.select :status_id,  options %>

      <%= f.submit "add Attendance", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>